@import url("base-style.css");


div.title {
    background-color: var(--gray-dark);
    color: white;

}

div.main-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: 90vh;
}

div .main  {
    background-color: var(--gray-dark);
    color: white;
   
 
 }

div .left-panel  {
    background-color: var(--gray-dark);
    color: white;
    
 
 }

 div.nav-item {
    background-color: var(--gray-light);
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
    
    transition: background-color 0.5s ease;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    
    border-radius: 10px 0 0 0;
   
 }

 div.nav-item:hover {
    background-color: var(--gray-dark);
    cursor: pointer;
 }

 a {
    color: white;
    text-decoration: none;
 }

